<footer class="footer">
  <div class="container">
    <div class="row row-footer-space">
      <div class="col-md-4">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </div>
      <div class="col-md-4">
        {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
              <span>{{ site.twitter_username }}</span>
            </a>
        {% endif %}
      </div>
      <div class="col-md-4">
        {{ site.description }}
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
